<div class="border-left">
</div>
<p><%= @question %> <br>
 - You</p>
<% if @question.last == "?" %>
<%= "Silly question, get dressed and go to work!" %>
<% elsif @question == "I am going to work"%>
<%= "Great!" %>
<% else %>
<%= "I don't care, get dressed and go to work!" %>
<% end %>
<p> - Your coach</p>
<br>
<%= link_to "Ask a new question", ask_path %>

